$light-cream: hsl(40, 25, 95);
$dark-cream: hsl(40, 25, 90);

$light-grey: hsl(0, 0, 95);
$dark-grey: hsl(0, 0, 51);

$earth: hsl(16, 76, 47);
$sand: hsl(38, 55, 91);

$light-brown: hsl(21, 25, 74);
$dark-brown: hsl(21, 46, 43);

$space-0: 5px;
$space-1: 10px;
$space-2: 20px;
$space-3: 40px;
