.all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}

@media only screen and (min-width: $medium-breakpoint) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: $large-breakpoint) {
  .container {
    width: 60%;
  }
}
