@mixin section {
  margin-top: $space-3;
  margin-bottom: $space-3;
}

@mixin reset-button {
  appearance: none;
  margin: 0;
  padding: 0;
  background-color: none;
  cursor: pointer;
  border: none;
}

@mixin heading-1 {
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.6;
}

@mixin heading-2 {
  @include poppins;
  text-transform: uppercase;
  color: $dark-brown;
  letter-spacing: 0.5px;
}

@mixin list($list-style-type: disc) {
  list-style-type: $list-style-type;
  margin-top: $space-1;
  padding: 0 0 0 30px;
}
