.shortcuts {
  display: none;
  @include poppins;
  @include section;
}

@media only screen and (min-width: 768px) {
  .shortcuts {
    display: block;
  }
}

.shortcuts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.shortcuts__shortcut-icon {
  white-space: nowrap;
  margin-right: 10px;
  background-color: $light-grey;
  border: 1px solid $dark-grey;
  border-radius: 3px;
  box-shadow: 0px 2px 0px hsla(0, 0, 0, 0.5);
  width: 28px;
  height: 28px;
  color: $dark-grey;
  overflow-wrap: break-word;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
