/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'styles/reset';
@import 'styles/mixins';
@import 'styles/constants';
@import 'styles/fonts';

@import 'styles/layout';

@import 'styles/logo';
@import 'styles/search';
@import 'styles/tags';
@import 'styles/external_links';
@import 'styles/categories';
@import 'styles/translations';
@import 'styles/examples';
@import 'styles/images';
@import 'styles/inflection';
@import 'styles/other_languages';
@import 'styles/previous_queries';
@import 'styles/shortcuts';
@import 'styles/footer';

.all {
  background-color: $light-cream;
}

p {
  margin: $space-2 0;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.searched-query {
  @include heading-1;
}

.onboarding {
  @include section;
}
