/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.35px;
  word-spacing: 1px;
  visibility: visible;
}

.fonts-loaded body {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0px;
  word-spacing: 0px;
  visibility: visible;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  width: 90%;
  margin: auto;
  padding-top: 10px;
  line-height: 1.3rem;
}

@media only screen and (min-width: 480px) {
  body {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    width: 60%;
  }
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

ol {
  list-style-type: decimal;
  margin: 0.5rem 0 0 0;
  padding: 0 2rem 0 2rem;
}

ul {
  list-style-type: disc;
  margin: 0.5rem 0 1rem 0;
  padding: 0 0 0 2rem;
}

ul ul {
  margin-top: 0.2rem;
  list-style-type: circle;
}

li {
  margin-bottom: 0.2rem;
}

p {
  margin: 1rem 0 1rem 0;
}

main {
  margin-top: 1rem;
}

.section {
  margin-top: 2rem;
}

footer {
  margin: 2rem 0;
}

.separator {
  text-align: center;
}

.small {
  font-size: 0.8rem;
}

.highlight {
  background: yellow;
}

kbd {
  white-space: nowrap;
  display: inline-block;
  margin: 0 .1em;
  padding: .4em .5em;
  font-size: 0.6rem;
  text-shadow: 0 1px 0 white;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 3px;
  box-shadow: 0 1px 1px lightgray, inset 0 1px 0 0 #fff;
  overflow-wrap: break-word;
}

table {
  width: 100%;
  overflow: auto;
  display: block;
  border-spacing: 0.5rem;
  border-collapse: separate;
}

th {
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

td {
  padding: 0 0.5rem;
}

.declination-split-table {
  margin-top: 20px;
}

#declination-singular, #declination-plural {
  display: none;
}

#toggle-singular:checked ~ #declination-singular {
  display: block;
}

#toggle-plural:checked ~ #declination-plural {
  display: block;
}

#toggle-singular:checked + #label-singular {
  background: lightgrey;
}

#toggle-plural:checked + #label-plural {
  background: lightgrey;
}

.toggle {
  display: none;
}

.label {
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  background-color: transparent;
  margin-right: -5px;
}

.label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.label:last-of-type {
  border-radius: 0 5px 5px 0;
}

.declination-split {
  display: block;
}

@media only screen and (min-width: 480px) {
  .declination-split {
    display: none;
  }
}

.declination-unified {
  display: none;
}

@media only screen and (min-width: 480px) {
  .declination-unified {
    display: block;
  }
}

#declination-singular-masculine-personal,
#declination-singular-masculine-inanimate,
#declination-singular-feminine,
#declination-singular-neuter,
#declination-plural-masculine-personal,
#declination-plural-non-masculine-personal {
  display: none;
}

#toggle-singular-masculine-personal:checked ~ #declination-singular-masculine-personal {
  display: block;
}

#toggle-singular-masculine-inanimate:checked ~ #declination-singular-masculine-inanimate {
  display: block;
}

#toggle-singular-feminine:checked ~ #declination-singular-feminine {
  display: block;
}

#toggle-singular-neuter:checked ~ #declination-singular-neuter {
  display: block;
}

#toggle-plural-masculine-personal:checked ~ #declination-plural-masculine-personal {
  display: block;
}

#toggle-plural-non-masculine-personal:checked ~ #declination-plural-non-masculine-personal {
  display: block;
}

#toggle-singular-masculine-personal:checked + #label-singular-masculine-personal {
  background: lightgrey;
}

#toggle-singular-masculine-inanimate:checked + #label-singular-masculine-inanimate {
  background: lightgrey;
}

#toggle-singular-feminine:checked + #label-singular-feminine {
  background: lightgrey;
}

#toggle-singular-neuter:checked + #label-singular-neuter {
  background: lightgrey;
}

#toggle-plural-masculine-personal:checked + #label-plural-masculine-personal {
  background: lightgrey;
}

#toggle-plural-non-masculine-personal:checked + #label-plural-non-masculine-personal {
  background: lightgrey;
}
