/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'reset';
@import 'images';

$earth: #D24D1C;
$earth-1: #CDB7AB;
$earth-2: #A05F3B;
$grey: #F6F4F0;
$grey-1: #F2F2F2;
$grey-2: #828282;
$cream: #F6F4F0;

$height: 50px;
$border-radius: 5px;
$text-padding: 12px;

.button {
  margin: 0;
  background: none;
  cursor: pointer;
}

#search__container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 350px;
  height: $height;
}

.search__container--header {
}

.search__container--main {
  margin: auto;
}

#search__container[data-loading="true"]::after {
  background-color: white;
  content: "";
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-right: 3px solid rgba(0, 0, 0, 0.48);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: calc(10% + 28px);
  top: 50%;
  transform: translateY(-50%);
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(359deg);
  }
}

.search__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: $text-padding;
  font-size: 1rem;
  border: 1px solid $earth-1;
  border-radius: $border-radius 0 0 $border-radius;
  flex: 1 0 auto;
  margin: 0;
  box-shadow: none;
}

.search__input:focus {
  border-color: $earth-2;
}

.search__input:focus,
.search__input[aria-expanded="true"] {
  outline: none;
}

[data-position="below"] .search__input[aria-expanded="true"] {
  border-bottom-color: transparent;
}

[data-position="above"] .search__input[aria-expanded="true"] {
  border-top-color: transparent;
  z-index: 2;
}

.search__input:focus ~ #search__button {
  border-color: $earth-2;
}

.search__result-list {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  max-height: 296px;
  overflow-y: auto;
  background: white;
  list-style: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

[data-position="below"] .search__result-list {
  margin-top: -1px;
  border-top-color: transparent;
  border-radius: 0 0 8px 8px;
  padding-bottom: 8px;
}

[data-position="above"] .search__result-list {
  margin-bottom: -1px;
  border-bottom-color: transparent;
  border-radius: 8px 8px 0 0;
  padding-top: 8px;
}

.autocomplete-result {
  cursor: default;
  padding: $text-padding;
  font-size: 1rem;
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.06);
}

#search__clear {
  @extend .button;
  padding: 0 15px;
  border: none;
  position: absolute;
  right: 55px;
  width: 45px;
  height: $height;
}

#search__button {
  @extend .button;
  flex: 0 0 50px;
  border: 1px solid $earth-1;
  border-radius: 0 $border-radius $border-radius 0;
  border-left: none;
  height: $height;

  &:hover, &:active {
    background-color: $grey;
  }
}

.search__icon {
  display: block;
  fill: $earth-2;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.35px;
  word-spacing: 1px;
  visibility: visible;
  background: $cream;
}

.fonts-loaded body {
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0px;
  word-spacing: 0px;
  visibility: visible;
}

header {
  margin-bottom: 20px;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  padding-top: 10px;
  line-height: 1.3rem;
}

.container {
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 480px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
}

h1 {
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  color: $earth-2;
  letter-spacing: 0.5px;
}

ol {
  list-style-type: decimal;
  margin: 0.5rem 0 0 0;
  padding: 0 2rem 0 2rem;
}

ul {
  list-style-type: disc;
  margin: 0.5rem 0 1rem 0;
  padding: 0 0 0 2rem;
}

ul ul {
  margin-top: 0.2rem;
  list-style-type: circle;
}

li {
  margin-bottom: 0.2rem;
}

p {
  margin: 1rem 0 1rem 0;
}

.section {
  margin-top: 2rem;
}

table {
  width: 100%;
  overflow: auto;
  display: block;
}

tbody {
  display: table;
  width: 100%;
}

tr:nth-child(odd) {
  background-color: white;
}

th {
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  padding: 5px 30px 5px 0;
}

td {
  padding: 5px 30px 5px 0;
}

.declination-split-table {
  margin-top: 20px;
  display: none;
}

#declination-singular, #declination-plural {
  display: none;
}

#toggle-singular:checked ~ #declination-singular {
  display: block;
}

#toggle-plural:checked ~ #declination-plural {
  display: block;
}

#toggle-singular:checked + #label-singular {
  background: $earth;
  color: white;
}

#toggle-plural:checked + #label-plural {
  background: $earth;
  color: white;
}

.toggle {
  display: none;
}

.label {
  align-items: center;
  border: 1px solid $earth;
  padding: 10px 15px;
  background-color: transparent;
  margin-right: -5px;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  color: $earth;
  border-right: none;
}

.label:first-of-type {
  border-radius: 5px 0 0 5px;
}

.label:last-of-type {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid $earth;
}

.declination-split {
  display: block;
}

@media only screen and (min-width: 480px) {
  .declination-split {
    display: none;
  }
}

.declination-unified {
  display: none;
}

@media only screen and (min-width: 480px) {
  .declination-unified {
    display: block;
  }
}

.conjugation-split-table {
  margin-top: 20px;
  display: none;
}

.conjugation-split {
  display: block;
}

@media only screen and (min-width: 480px) {
  .conjugation-split {
    display: none;
  }
}

.conjugation-unified {
  display: none;
}

@media only screen and (min-width: 480px) {
  .conjugation-unified {
    display: block;
  }
}

.external-links {
  margin: 20px 0 30px 0;
}

.external-links__link {
  background: $earth;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.external-links__icon {
  width: 15px;
  display: inline-block;
  height: 15px;
  fill: white;
}

#select-conjugation, #select-case {
  display: block;
  width: 200px;
  border: 1px solid $earth;
  border-radius: 5px;
  padding: 12px;
}

#select-conjugation {
  width: 200px;
}

#select-case {
  width: 300px;
}

select {
  background-color: white;
  flex: 0 0 auto;
  font-size: 1.2rem;
  margin: 10px 5px 0 0;
  width: 4rem;
  color: #444;
  padding: 0em 1.4em 0em .8em;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.4" height="292.4"><path fill="%23D24D1C" d="M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z"/></svg>');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%;
  background-size: .4em auto, 100%;
}

.shortcuts {
  display: none;
}

@media only screen and (min-width: 768px) {
  .shortcuts {
    display: block;
  }
}

.shortcuts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.shortcuts__shortcut-icon {
  white-space: nowrap;
  margin-right: 10px;
  background-color: $grey-1;
  border: 1px solid $grey-2;
  border-radius: 3px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
  width: 28px;
  height: 28px;
  color: $grey-2;
  overflow-wrap: break-word;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.previous-queries__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.previous-queries__item {
  padding: 5px 10px;
  border: 1px solid $earth;
  border-radius: 15px;
  margin-right: 10px;
  margin-top: 10px;
  color: $earth;
  vertical-align: center;
  display: flex;
  align-items: center;
  fill: $earth;
  cursor: pointer;

  &:active, &:hover {
    color: white;
    background: $earth;
    fill: white;
  }
}

.previous-queries__link {
  text-decoration: none;
  color: inherit;
}

.previous-queries__icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.clear-persisted-queries {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  padding: 0;
  border: none;
  vertical-align: sub;
  cursor: pointer;
}

.samples__list {
  @extend .previous-queries__list;
}

.samples__item {
  @extend .previous-queries__item;
}

.samples__link {
  @extend .previous-queries__link;
}

.samples__icon {
  @extend .previous-queries__icon;
}

.logo {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background: rgba(232, 173, 59, 0.12);
  margin-top: 20px;
}

.footer__container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selfie {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  flex: 0 1 80px;
}

.bubble {
  flex: 0 1 auto;
  margin-left: 20px;
  background: white;
  border-radius: 5px;
}

.bubble > p {
  padding: 0 20px;
  margin: 20px 0;
}

.bubble a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
