.images__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
}

.images__list-item {
  margin-right: 20px;
}

.images__image {
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  filter: drop-shadow(3px 3px 3px rgba(51, 49, 47, 0.25));
}

.images__caption {
  font-size: 0.8rem;
  margin-top: 5px;
}
