<% content_for(:footer_header) do %>
  <section class="logo">
    <i class="logo__icon--footer">
      <%= render "shared/logo" %>
    </i>
  </section>
<% end %>

<%= render template: "layouts/application" %>
